*{ 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
  position: relative;  
}

p {
    /* position: static; top: -49px; */
    /* position: relative;
    top: 40px; left: 40px; */
    /* position: absolute; */
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
}

/* 
A great way for 3 boxes
position: -webkit-sticky;
position: sticky;
top: 20px;
*/